<%= render 'layouts/slider' %>

<div class="content-area">
            <div class="container">
                <div class="row page-title text-center wow zoomInDown" data-wow-delay="1s">
                    <%= image_tag("JuniorSoftwareDeveloper-logo.png", size: "500x200")%>
                    <p>Welcome to the only site that specializes in junior developer positions. Do you specifically want to search for entry-level or junior developer positions? Then you've come to the right place. Fire up a search and start pursuing your dreams!</p>
                </div>
            </div>
</div>

<%= render "jobs/job_listing", jobs: @jobs %>