<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Website: <%= @user.website if @user.website %></p>
<p>Telephone: <%= @user.telephone if @user.telephone %></p>