<%= render 'layouts/slider' %>

<div class="content-area">
            <div class="container">
                <div class="row page-title text-center wow zoomInDown" data-wow-delay="1s">
                    <h5>Welcome, junior developers!</h5>
                    <h2>JUNIOR SOFTWARE DEVELOPER</h2>
                    <p>Welcome to the only site that specializes in junior developer positions. Do you specifically want to search for entry-level or junior developer positions? Then you've come to the right place!</p>
                </div>
            </div>
</div>