<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>
          About JuniorSoftwareDeveloper.com
        </h1>
        <p>
          Our team is committed to connecting employers and developers. If you're a developer, search for a job! If you're an employer, post a job!
        </p>
        <p>
          <%= link_to "Search for a Job", root_path, :class => "navbar-btn nav-button wow bounceInRight login", :data => { :'wow-delay' => '0.8s' } %>
        </p>
        <p>
          <%= link_to "Post a Job", new_user_registration_path, :class => "navbar-btn nav-button wow bounceInRight login", :data => { :'wow-delay' => '0.8s' } %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>
        Terms and Conditions
      </h2>
      <p>
        JuniorSoftwareDeveloper.com is a job board for employers seeking fresh talent and developers seeking junior positions. Posting a job will ensure a job listing for 30 days. The jobs are listed by date, with the most recent listed first.
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Cost
      </h2>
      <p>
        <strong>Inaugural Special!</strong> $75.00 nets a 30-day posting, with JuniorSoftwareDeveloper.com reserving the right to partially refund payment for job listings that fail to meet its listing criteria.
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Listing Criteria
      </h2>
      <p>
        JuniorSoftwareDeveloper.com is not liable for the accuracy of information contained within a given job post. Furthermore, it reserves the right to remove posts it deems racist, pornographic, illegal, or otherwise hazardous. Posters must have the right to represent their companies. Posters must be over 18.
      </p>
    </div>
  </div>
</div>