<%# add navigation links to this file %>
<% if user_signed_in? %>
    <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s"><%= link_to 'View account', edit_user_registration_path %></button>
    <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></button>
<% else %>
    <%= link_to ('Log in', new_user_session_path,class: "navbar-btn nav-button wow bounceInRight login", data-wow-delay="0.8s") %>
    <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s"><%= link_to 'Sign up', new_user_registration_path %></button>
<% end %>
