<li class="wow fadeInDown" data-wow-delay="0s"><a class="active" href="#">Home</a></li>
<li class="wow fadeInDown" data-wow-delay="0.1s"><a href="#">Job Seekers</a></li>
<li class="wow fadeInDown" data-wow-delay="0.2s"><a href="#">Employeers</a></li>
<li class="wow fadeInDown" data-wow-delay="0.3s"><a href="#">About us</a></li>
<li class="wow fadeInDown" data-wow-delay="0.4s"><a href="#">Blog</a></li>
<li class="wow fadeInDown" data-wow-delay="0.5s"><a href="#">Contact</a></li>