<li class="wow fadeInDown" data-wow-delay="0s"> <%= link_to "Home", root_path %></li>
<li class="wow fadeInDown" data-wow-delay="0.1s"><%= link_to "Post a Job", new_user_registration_path%></li>
<li class="wow fadeInDown" data-wow-delay="0.3s"><a href="#">About Us</a></li>
<li class="wow fadeInDown" data-wow-delay="0.5s"><a href="#">Contact</a></li>