 <div class="search-form wow pulse" data-wow-delay="0.8s">
    <form action="" class=" form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Job Key Word">
                </div>
                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option>Select Your City</option>
                            <option selected>New york, CA</option>
                            <option>New york, CA</option>
                            <option>New york, CA</option>
                            <option>New york, CA</option>
                            </select>
                </div>

                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option>Select Your Category</option>
                            <option selected>Graphic Design</option>
                            <option>Web Design</option>
                            <option>App Design</option>
                            </select>

                </div>
                    <input type="submit" class="btn" value="Search">
    </form>
</div>