<div class="search-form wow pulse" data-wow-delay="0.8s">
<%= form_tag search_jobs_path, :method => :get do %>

        <%= text_field_tag 'search', nil, placeholder: 'Search by job title, location, salary, etc.', size: 50%>
        <%= submit_tag "Search", :class => "navbar-btn nav-button wow bounceInRight login", :data => { :'wow-delay' => '0.8s' }%>
<% end %>
</div>


